absl-py==2.3.1
annotated-types==0.7.0
antiorm==1.2.1
anyio==4.9.0
astunparse==1.6.3
cachetools==5.5.2
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.3.0
cloudpickle==3.1.1
colorama==0.4.6
contourpy==1.3.1
cycler==0.12.1
db==0.1.1
dnspython==2.7.0
elastic-transport==8.17.1
elasticsearch==8.15.1
et_xmlfile==2.0.0
fastapi==0.115.2
filelock==3.17.0
flatbuffers==25.9.23
fonttools==4.56.0
fsspec==2025.3.0
gast==0.6.0
git-filter-repo==2.47.0
google-api-core==2.24.1
google-api-python-client==2.163.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-pasta==0.2.0
googleapis-common-protos==1.69.1
grad-cam @ git+https://github.com/jacobgil/pytorch-grad-cam.git@781dbc0d16ffa95b6d18b96b7b829840a82d93d1
grpcio==1.75.1
gunicorn==23.0.0
h11==0.16.0
h5py==3.15.1
httplib2==0.22.0
httptools==0.7.1
idna==3.10
imageio==2.37.0
Jinja2==3.1.6
joblib==1.4.2
keras==3.11.3
kiwisolver==1.4.8
lazy_loader==0.4
libclang==18.1.1
llvmlite==0.45.1
Markdown==3.9
markdown-it-py==4.0.0
MarkupSafe==3.0.2
matplotlib==3.10.1
mdurl==0.1.2
ml_dtypes==0.5.3
mpmath==1.3.0
namex==0.1.0
networkx==3.4.2
numba==0.62.1
numpy==2.2.3
oauth2client==4.1.3
opencv-python==4.12.0.88
openpyxl==3.1.5
opt_einsum==3.4.0
optree==0.17.0
packaging==24.2
pandas==2.2.3
pdf2image==1.17.0
pillow==10.4.0
proto-plus==1.26.0
protobuf==5.29.3
pyasn1==0.6.1
pyasn1_modules==0.4.1
pydantic==2.9.2
pydantic-settings==2.11.0
pydantic_core==2.23.4
PyDrive==1.3.1
Pygments==2.19.2
pymongo==4.11.2
pyparsing==3.2.1
PyPDF2==3.0.1
pytesseract==0.3.13
pythainlp==5.1.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.12
pytz==2025.1
PyYAML==6.0.2
requests==2.32.3
rich==14.2.0
rsa==4.9
scikit-image==0.25.2
scikit-learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
setuptools==80.9.0
shap==0.49.1
six==1.17.0
slicer==0.0.8
sniffio==1.3.1
starlette==0.40.0
sympy==1.13.1
tensorboard==2.20.0
tensorboard-data-server==0.7.2
termcolor==3.1.0
threadpoolctl==3.5.0
tifffile==2025.10.16
torch==2.6.0
torchvision==0.21.0
tqdm==4.67.1
ttach==0.0.3
typing-inspection==0.4.0
typing_extensions==4.12.2
tzdata==2025.1
uritemplate==4.1.1
urllib3==2.3.0
uvicorn==0.32.0
watchfiles==1.1.1
websockets==15.0.1
Werkzeug==3.1.3
wheel==0.45.1
wrapt==1.17.3
